In [30]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

def warn(*args, **kwargs): pass
import warnings
warnings.warn = warn

from sklearn.preprocessing import LabelEncoder
from sklearn.cross_validation import StratifiedShuffleSplit

train = pd.read_csv(r"C:\Users\Electonics\OneDrive\Desktop\mphil_research\shape\train.csv")
test = pd.read_csv(r"C:\Users\Electonics\OneDrive\Desktop\mphil_research\shape\test.csv")

In [31]:
train.head()

,id,species,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,1,Acer_Opalus,0.007812,0.023438,0.023438,0.003906,0.011719,0.009766,0.027344,0.0,...,0.007812,0.000000,0.002930,0.002930,0.035156,0.0,0.0,0.004883,0.000000,0.025391
1,2,Pterocarya_Stenoptera,0.005859,0.000000,0.031250,0.015625,0.025391,0.001953,0.019531,0.0,...,0.000977,0.000000,0.000000,0.000977,0.023438,0.0,0.0,0.000977,0.039062,0.022461
2,3,Quercus_Hartwissiana,0.005859,0.009766,0.019531,0.007812,0.003906,0.005859,0.068359,0.0,...,0.154300,0.000000,0.005859,0.000977,0.007812,0.0,0.0,0.000000,0.020508,0.002930
3,5,Tilia_Tomentosa,0.000000,0.003906,0.023438,0.005859,0.021484,0.019531,0.023438,0.0,...,0.000000,0.000977,0.000000,0.000000,0.020508,0.0,0.0,0.017578,0.000000,0.047852
4,6,Quercus_Variabilis,0.005859,0.003906,0.048828,0.009766,0.013672,0.015625,0.005859,0.0,...,0.096680,0.000000,0.021484,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.031250

In [32]:
def encode(train, test):
    le = LabelEncoder().fit(train.species) 
    labels = le.transform(train.species)           # encode species strings
    classes = list(le.classes_)                    # save column names for submission
    test_ids = test.id                             # save test ids for submission
   # train1 = train.drop(train.columns[0:66], axis=1 )
    train = train.iloc[:,66:131]
    
    test = test.drop(['id'], axis=1)
    
    return train, labels, test, test_ids, classes

train, labels, test, test_ids, classes = encode(train, test)
train.head()

,shape1,shape2,shape3,shape4,shape5,shape6,shape7,shape8,shape9,shape10,...,shape56,shape57,shape58,shape59,shape60,shape61,shape62,shape63,shape64,texture1
0,0.000647,0.000609,0.000576,0.000553,0.000516,0.000496,0.000474,0.000453,0.000454,0.000429,...,0.000434,0.000452,0.000471,0.000485,0.000512,0.000536,0.000553,0.000610,0.000661,0.049805
1,0.000749,0.000695,0.000720,0.000709,0.000688,0.000660,0.000624,0.000585,0.000556,0.000531,...,0.000546,0.000574,0.000608,0.000641,0.000674,0.000703,0.000707,0.000688,0.000747,0.000000
2,0.000973,0.000910,0.000870,0.000826,0.000796,0.000763,0.000729,0.000702,0.000664,0.000629,...,0.000639,0.000670,0.000697,0.000739,0.000789,0.000836,0.000882,0.000911,0.000971,0.003906
3,0.000453,0.000465,0.000473,0.000483,0.000492,0.000493,0.000492,0.000492,0.000496,0.000497,...,0.000480,0.000449,0.000437,0.000437,0.000430,0.000429,0.000431,0.000438,0.000443,0.023438
4,0.000682,0.000598,0.000509,0.000385,0.000299,0.000330,0.000427,0.000536,0.000641,0.000645,...,0.000863,0.000890,0.000911,0.000814,0.000683,0.000593,0.000622,0.000735,0.000755,0.039062